@model Prodajalna.Models.Product

@{
    ViewBag.Title = "Admin";
}

@section Scripts
    {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script type="text/javascript">
    function ProductVewModel() {
        var self = this;
        self.products = ko.observableArray();

        var baseUri = '@ViewBag.ApiUrl';
        $.getJSON(baseUri, self.products);
    }
    $(document).ready(function () {
        ko.applyBindings(new ProductVewModel());
    })
</script>
    }

<h2>Admin</h2>
<div class="content">
    <div class="float-left">
        <ul id="update-products" data-bind="foreach: products">
            <li>
                <div>
                    <div class="item">Produkt id</div>
                    <span data-bind="text:$data.Id"></span>
                </div>
                <div>
                    <div class="item">Ime</div>
                    <input type="text" data-bind="value:$data.Name"/>
                </div>
                <div>
                    <div class="item">Cena</div>
                    <input type="text" data-bind="value:$data.Price"/>
                </div>
                <div>
                    <div class="item">Strošek</div>
                    <input type="text" data-bind="value:$data.ActualCost"/>
                </div>
                <div>
                    <input type="button" value="Update"/>
                    <input type="button" value="Delete"/>
                </div>
            </li>
        </ul>
    </div>
</div>

