
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mojaPredloga.cshtml";
}
<div class="jumbotron">
    <h2>Index</h2>
</div>
<div class="row">
    <p>To je v telesu.</p>
</div>
@section footer{
    <p>To je noga strani.</p>
}

