################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCNajprejKoda/MVCNajprejKoda/App_Data
/VajaBaza/.vs
/VajaBaze2/.vs
/Postavitev/.vs/Postavitev/v15/Server/sqlite3
