################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCNajprejKoda/MVCNajprejKoda/App_Data
/VajaBaza/.vs
/VajaBaze2/.vs
/Postavitev/.vs/Postavitev/v15/Server/sqlite3
/Prodajalna/.vs/Prodajalna/v15/Server/sqlite3
/Seminarska
/Postavitve/.vs/Postavitve/v15/Server/sqlite3
/PostavitveUWPVaja2/.vs/PostavitveUWPVaja2/v15/Server/sqlite3
/Navigacija/.vs/Navigacija/v15/Server/sqlite3
/.vs
/MVVMZapisi/.vs/MVVMZapisi/v15/Server/sqlite3
/Štoparica/.vs/Štoparica/v15/Server/sqlite3
