@{
    ViewBag.Title = "Kontakt";
}

<div style="color: white;">
    <h2>@ViewBag.Title</h2>


    <address>
        Matic Isovski<br />
        Bernetičeva ulica 2, 6000 Koper<br />
        <abbr title="Phone">Telefonska št:</abbr>
        068198020
    </address>

    <address>
        <strong>Podpora:</strong>   <a href="mailto:Support@example.com">podpora@srecanje-pp.si</a><br />
    </address>
</div>