@{
    ViewBag.Title = "Srečanja PP";
}

<div class="jumbotron" style="background-color: rgba(211,211,211, 0.6); color: black; text-align:center;">
    <h1>Srečanja PP</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Si naš uporabnik?</h2>
            <p>
                Če imaš pri nas že ustvarjen račun se prijavi tukaj!
            </p>
            <p><a class="btn btn-default" href="#Vpis" style="font-size: 20px">Vpis</a></p>
        </div>
        <div class="col-md-6">
            <h2>Želiš postati naš uporabnik?</h2>
            <p>
                Če še nimate računa se registriraje tukaj!
            </p>
            <p><a class="btn btn-default" href="#Registracija" style="font-size: 20px">Registracija</a></p>
        </div>
    </div>
</div>